* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* navbar */
.navbar-brand {
  font-weight: 900;
  font-family: cursive;
}

.nav_items {
  margin: 0 5px;
}

.nav_items:hover {
  transform: scale(1.3);
}

.nav-close-btn {
  font-size: 30px;
  color: white;
  position: relative;
  left: 330px;
}

/* main */
.bg-img {
  min-height: 50vh;
  background: #151515 url(../images/info-img-3.jpg) no-repeat center;
  background-size: cover;
}

.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.7);
}

.text-container {
  position: relative;
  z-index: 1;
  color: #fff;
}

.text-xxl {
  font-weight: 600;
  text-transform: uppercase;
  width: 60%;
  text-align: center;
  position: absolute;
  left: 20%;
  margin-top: 120px;
}

.search {
  padding-top: 100px;
}

.search-box {
  width: 80%;
  border: 20px solid rgb(230, 230, 199);
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(199, 199, 199);
  background: rgb(230, 230, 199);
}

.search-btn {
  display: flex;
  margin: 0 auto;
  border: 0;
  border-radius: 30px;
  background: #151515;
  color: white;
  padding: 10px 50px;
  margin: 0 auto;
}

.packages {
  padding-top: 50px;
}

.package-img {
  height: 15vh;
  width: 40%;
  border-radius: 100%;
  border: 5px solid #fff;
}

.package-name {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #151515;
}

.package-box {
  background: rgb(230, 230, 199);
  padding: 30px 0;
  border-radius: 50px 2px 50px 20px;
  box-shadow: 0 0 10px 0 rgb(230, 230, 199);
}

.package-box:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.packages-brief {
  height: 100%;
}

.card-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: rgba(31, 61, 71, 0.2196078431);
  backdrop-filter: blur(10px);
  transition: 0.7s ease-in-out;
}

.card:hover .card-body {
  cursor: pointer;
  right: 0;
}

/* footer */
.footer {
  background-color: black;
}

.footer_main_para {
  color: gray;
}

.footer_input {
  background-color: black;
  border: 1px solid gray;
  border-radius: 10px;
  height: 38px;
  width: 50%;
}

.footer_btn {
  border: 0;
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 8px 20px;
}

.footer_text {
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer_icon {
  color: gray;
  font-size: 20px;
  margin-left: 10px;
}

.footer_foot {
  color: gray;
}
