*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* navbar */
.navbar-brand{
    font-weight: 900;
    font-family: cursive;
}
.nav_items{
    margin: 0 5px;
}
.nav_items:hover{
    transform: scale(1.3);
}
.nav-close-btn{
    font-size: 30px;
    color: white;
    position: relative;
    left: 330px;
}

/* About */
.About{
    min-height: 50vh;
    background: #151515 url('../images/About-bg.jpg') no-repeat center center;
    width: 100%;
    height: 50%;
}
.About::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.About .text-container {
    z-index: 10;
    margin-top: -40px;
    border: 0;
    margin-bottom: 80px;
}
.box{
    width: 50%;
    margin: 0 auto;
}
.about_heading{
    color: white;
    font-size: 50px;
    margin-top: 160px;
}
.about_para{
    color: white;
    margin: 0 auto;
}
.heading{
    color: rgb(0, 0, 114);
}
.ab_para{
    text-transform: capitalize;
    font-size: 17px;
    margin: 20px 0;
}
.list{
    margin: 10px 0;
}


/* footer */
.footer{
    background-color: black;
}
.footer_main_para{
    color: gray;
}
.footer_input{
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
}
.footer_btn{
    border: 0;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
}
.footer_text{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer_icon{
    color: gray;
    font-size: 20px;
    margin-left: 10px;
}
.footer_foot{
    color: gray;
}
