*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
/* navbar */
.navbar-brand{
    font-weight: 900;
    font-family: cursive;
}
.nav_items{
    margin: 0 5px;
}
.nav_items:hover{
    transform: scale(1.3);
}
.nav_btn{
    border: 0;
    background: transparent;
    color: white;
    margin-right: 20px;
}
.nav_btn:hover{
    text-decoration: 2px underline;
}
.nav-close-btn{
    font-size: 30px;
    color: white;
    position: relative;
    left: 300px;
}


/* Gallery*/
.header{
    margin-top: 150px;
}
.gallery_xxl{
    font-size: 80px;
    font-weight: 600;
    color: #004d6e;
}
.gallery_xxl span{ 
    color: black;
}
.galery_para{
    margin-left: 220px;
    font-size: 15px;
}
.galary_xl{
    width: 90%;
    font-weight: 600;
    position: relative;
    top: 50px;
}
.img-1{
    width: 100%;
    height: 90vh;
}
.sub_xl{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 100px;
}
.sub_para{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 20px;
}
.box{
    background: #004d6e;
    height: 30vh;
    margin-top: 50px;
}
.imd-2{
    height: 60vh;
    width: 60%;
    border-radius: 5px;
    position: relative;
    left: 100px;
    bottom: 100px;
}
.redirect{
    position: relative;
    top: -80px;
    left: 210px;
}
.bg-img{
    background: url(../images/Gallery-5.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.last-area{
    margin-top: 200px;
}
.box-2{
    background: #004d6e;
    width: 100%;
    height: 80vh;
}
.last-img{
    height: 70vh;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 100px;
}
.last-text{
    position: relative;
    bottom: 70px;
    color: #fff;
}

/* Footer */
.footer{
    background-color: black;
}
.footer_main_para{
    color: gray;
}
.footer_input{
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    height: 35px;
}
.footer_btn{
    border: 0;
    background-color: gray;
    color: #fff;
    border-radius: 10px;
    padding: 8px 20px;
}
.footer_text{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer_icon{
    color: gray;
    font-size: 20px;
    margin-left: 10px;
}
.footer_foot{
    color: gray;
}

/* media */
@media (max-width: 320px){
    .gallery_xxl{
        font-size: 60px;
    }
    .galery_para{
        width: 100%;
        margin-left: 0;
    }
    .img-1{
        height: 50vh;
    }
    .imd-2{
        margin-top: 20px;
        height: 50vh;
    }
    .last-img{
        height: 60vh;
        width: 80%;
    }
}
@media (max-width: 375px){
    *{
        overflow-x: hidden !important;
    }
    .gallery_xxl{
        font-size: 60px;
    }
    .galery_para{
        width: 100%;
        margin-left: 0;
    }
    .img-1{
        height: 50vh;
    }
    .imd-2{
        margin-top: 20px;
        height: 50vh;
    }
    .last-img{
        height: 60vh;
        width: 60%;
    }
}
@media (max-width: 425px){
    *{
        overflow-x: hidden !important;
    }
    .gallery_xxl{
        font-size: 60px;
    }
    .galery_para{
        width: 100%;
        margin-left: 0;
    }
    .img-1{
        height: 50vh;
    }
    .imd-2{
        margin-top: 20px;
        height: 50vh;
    }
    .last-img{
        height: 60vh;
        width: 60%;
    }
}
@media (max-width: 768px){
    *{
        overflow-x: hidden;
    }
    .galery_para{
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 1440px){
    *{
        overflow-x: hidden !important;
    }
}    
